@media screen and (max-width: 1200px) {
  .info-section {
    h3 {
      font-size: 36px !important;
    }

    h5 {
      font-size: 18px !important;
    }

    h6 {
      font-size: 16px !important;
    }
  }

  .info-card {
    h6 {
      font-size: 16px !important;
    }

    p {
      font-size: 14px !important;
    }
  }

  .info-card-sec {
    gap: 38px;
  }

  .info-boxes {
    gap: 8px;

    .info-box {
      width: 160px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .info-card-sec {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 767px) {
  .d-none {
    display: none;
  }
}
